.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 80px;
}

.link-item {
  display: flex;
  gap: 8px;
}

.link-button {
  padding: 0;
}