.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.bottom {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 36px;
  height: 36px;
}

.locked {
  flex: none;
  width: calc(100% - 32px);
}
