.main {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 1;
  min-height: 0;
}

.main > section {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
  max-width: 600px;
}