.container {
  display: flex;
  justify-content: center;
  flex: 1 1;
  min-height: 0;
}

.content {
  display: flex;
  min-height: 0;
  flex: 1 1;
  max-width: 1240px;
  gap: 60px;
  margin-top: 120px;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  max-width: 320px;
}
