.container {
  display: flex;
  background-color: #1C1C21;
  justify-content: center;
}

.content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.account {
  justify-self: flex-end;
}

.logo {
  justify-self: center;
}

.navigation {
  display: flex;
  align-items: center;
}